.clients{
    // padding-top:60px;
    margin-top:60px;
    @include min(1200px){
        // padding-top:94px;
        margin-top:94px;
    }
    &__title{
        color: $black;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0.84px;
        margin-bottom: 30px;
        @include min(1200px){
            margin-bottom:50px;
            font-size:36px;
        }
    }
    &__inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width:100%;
    }
    &__container{
        display: flex;
        justify-content: center;
        align-items:center;
    }
    &__ul--list{
        display: flex;
        gap: 30px;
        justify-content:center;
        align-items:center;
        text-align: center;
        flex-wrap: wrap;
    }
    &__li--item{
        display: flex;
        justify-content: center;
        align-items:center;
        border-radius: 4px;
        border: 1px solid $grey;
        cursor: pointer;
        width: 120px;
        height: 92px;
        transition: all .3s ease-in;
        @include min(375px){
            width:140px;
        }
        @include min(480px){
            width:195px;
        }
        @include min(576px){
            width:210px;
        }
        @include min(768px){
            width:216px;
        }
        @include min(992px){
            width:250px;
        }
        @include min(1200px){
            width:165px;
        }
        @include min(1440px){
            width:186px;
        }
        @include min(1600px){
            width:170px;
        }
        @include min(1920px){
            width:235px;
            height:108px;
        }
        svg{
            width:106px;
            height:60px;
            fill:#afb1b8;
            transition: all .3s ease-in;
        }
    }
    &__li--item:hover{
        border:1px solid $accentColor;
        svg{
            fill:$accentColor;
        }
    }
}