.footer{
    display: flex;
    margin-top:60px;
    // padding-top:60px;
    background: #2F303A;
    @include min(1200px){
        justify-content: center;
        align-items:center;
        margin-top:94px;
        // padding-top:94px;
    }
    &__logo span{
        color:$accentColor;
    }
    &__logo--link{
        text-decoration: none;
    }
    &__logo{
        font-family: 'Raleway', sans-serif;
        color:#FFF;
        font-weight:700;
        font-size:24px;
        font-style: normal;
        text-align: center;
        letter-spacing: 0.72px;
        @include min(1200px){
            text-align:left;
        }
    }
    &__inner{
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        padding-bottom:60px;
        padding-top:60px;
        @include min(768px){
            justify-content: baseline;
            align-items:baseline;
            padding-bottom:0px;
        }
        @include min(1200px){
            flex-direction: row;
            justify-content: space-around;
            align-items:flex-start;
            margin:0 auto;
            padding-bottom:60px;
        }
        @include min(1600px){
            justify-content: space-between;
        }
        @include min(1920px){
            justify-content: space-around;
        }
    }
    &__wrapper{
        @include min(768px){
            display: flex;
            align-items:baseline;
            gap:155px;
        }
        @include min(992px){
            gap:350px;
        }
        @include min(1200px){
            gap:60px;
        }
        @include min(1440px){
            gap:120px;
        }
        @include min(1600px){
            gap:70px;
        }
        @include min(1920px){
            gap:280px;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        @include min(768px){
            margin-left:60px;
        }
        @include min(1200px){
            margin-left:0px;
            justify-content: baseline;
            align-items:baseline;
        }
    }
    &__address{
        display: flex;
    }
    &__address--list{
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    &__address--item{
        color: #FFF;
        text-align: center;
        font-size: 14px;
        margin-top:12px;
        font-style: normal;
        font-weight: 400;
        @include min(1200px){
            text-align:left;
        }
        @include min(576px){
            font-size:16px;
        }
    }
    &__address--item:first-child{
        margin-top:28px;
    }
    &__address--link{
        text-decoration: none;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        @include min(1200px){
            text-align:left;
        }
        @include min(576px){
            font-size:16px;
        }
    }
    &__address--link.grey__link{
        color:$grey;
        margin-top:12px;
    }
    &__socials--container{
        display: flex;
        justify-content:center;
        flex-direction: column;
        margin-top:60px;
        align-items:center;
        @include min(768px){
            margin-top:0px;
            justify-content: flex-start;
        }
        @include min(1200px){
            justify-content:flex-start;
            align-items:baseline;
        }
    }
    &__socials--h3{
        text-align: center;
        color:#FFF;
        text-transform: uppercase;
        letter-spacing: 0.42px;
        font-weight:700;
        font-size: 14px;
        @include min(576px){
            font-size:18px;
        }
    }
    &__socials--list{
        display: flex;
        justify-content: center;
        align-items:center;
        margin-top:30px;
        list-style: none;
    }
    &__socials--item{
        position: relative;
        display: flex;
        align-items:center;
        justify-content:center;
        margin-left:40px;
        svg{
            position: relative;
            z-index:2;
            width:20px;
            height:20px;
            fill:#FFF;
            transition: all .3s ease-in;
            @include min(576px){
                width:24px;
                height:24px;
            }
        }
    }
    &__socials--links{
        display: flex;
        justify-content: center;
        align-items:center;
    }
    &__socials--item:hover{
        .footer__circle{
            background:$accentColor;
        }
    }
    &__socials--item:first-child{
        margin-left:0;
    }
    &__circle{
        position: absolute;
        width:44px;
        height:44px;
        background:rgba(255, 255, 255, 0.10);
        border-radius:50%;
        transition: all .3s ease-in;
    }
    &__newsletter{
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        margin-top:60px;
        @include min(768px){
            margin:60px auto;
        }
        @include min(1200px){
            margin:0px;
            justify-content: baseline;
            align-items:flex-start;
        }
    }
    &__newsletter--h3{
        color:#FFF;
        font-size:14px;
        font-weight:700;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.5px;
        @include min(576px){
            font-size:18px;
        }
    }
    &__newsletter--form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        @include min(1200px){
            justify-content:baseline;
            align-items:center;
            flex-direction:row;
        }
    }
    &__newsletter--input{
        width:285px;
        height:50px;
        background:transparent;
        border-radius:4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border: 1px solid rgba(255, 255, 255, 0.30);
        color:$grey;
        font-size:16px;
        padding-left:15px;
        line-height:20px;
        margin-top:20px;
        font-weight:400;
        letter-spacing:0.48px;
        @include min(375px){
            width:335px;
        }
        @include min(425px){
            width:395px;
        }
        @include min(576px){
            width:450px;
        }
        @include min(1200px){
            width:320px;
            margin-right:12px;
        }
        @include min(1440px){
            width:358px;
        }
    }
    &__newsletter--input:focus{
        outline:1px solid $accentColor;
    }
    &__newsletter--btn{
        border:none;
        border-radius:4px;
        cursor:pointer;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        background:$accentColor;
        width:fit-content;
        padding:0px 26px 0px 26px;
        height:50px;
        margin-top:20px;
        display: flex;
        align-items:center;
        justify-content:center;
        svg{
            width:24px;
            height:24px;
        }
    }
    &__newsletter--btn span{
        color:#FFF;
        font-size:16px;
        text-align: center;
        font-weight:700;
        letter-spacing: 0.96px;
        line-height:30px;
        padding-right:10px;
        @include min(576px){
           font-size:18px;
        }
    }
}