/* SCSS Header Component */
.header{
    height:60px;
    background:#fff;
    @include min(768px){
        height:80px;
    }
    &__top{
        display: flex;
        position: relative;
        align-items:center;
        justify-content:space-between;
        padding:16px 0px 16px 0px;
        @include min(1200px){
            padding:25px 0px 24px 0px;
        }
    }
    &__top::after{
        @include min(768px){
            content:"";
            position: absolute;
            bottom:-6px;
            left:-30px;
            height:1px;
            width:100vw;
            background: #ECECEC;
        }
        @include min(1200px){
            bottom:-4px;
            left:-30px;
        }
        @include min(1600px){
            left:-215px;
        }
        @include min(1920px){
            bottom:-2px;
            left:-65px;
        }
    }
    &__logo--link{
        text-decoration:none;
    }
    &__logo{
        font-family:'Raleway', sans-serif;
        color:$black;
        font-size:24px;
        font-weight:700;
        letter-spacing:0.72px;
        @include min(768px){
            margin-right:88px;
        }
        @include min(1200px){
            margin-right:93px;
        }
        @include min(1920px){
            font-size:26px;
            margin-right:0px;
        }
    }
    &__logo span{
        color:$accentColor;
    }
    &__menu--burger{
        position: absolute;
        right:0;
        bottom:5px;
        z-index:1001;
        height:2px;
        width:20px;
        border-radius:1px;
        background-color:$black;
        @include min(768px){
            display: none;
        }
        &::after{
            content: "";
            border-radius:1px;
            position:absolute;
            right:0;
            top:7px;
            height:2px;
            width:20px;
            background-color:$black;
            transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
        }
        &::before{
            content: "";
            border-radius:1px;
            position:absolute;
            right:0;
            top:14px;
            height:2px;
            width:20px;
            background-color:$black;
            transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
        }
    }
    &__btn--menu{
        position:relative;
        border:none;
        background:transparent;
        cursor:pointer;
    }
    &__btn--menu.active &__menu--burger{
        background-color:transparent !important;
        cursor: pointer;
        transition-delay:.15s;
    }
    &__btn--menu.active &__menu--burger::after{
        background-color:$accentColor;
        top:-2px;
        width:20px;
        transform: translate3d(0, 10px, 0) rotate(-45deg);
        transition: top .2s cubic-bezier(.33333,0,.66667,.33333), transform .13s cubic-bezier(.215,.61,.355,1) .22s;
    }
    &__btn--menu.active &__menu--burger::before{
        background-color:$accentColor;
        top:-2px;
        width:20px;
        transform: translate3d(0, 10px, 0) rotate(45deg);
        transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .1s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
    }
    &__menu{
        position:absolute;
        top:0;
        right:-15px;
        z-index:1000;
        background:#fff;
        transform: translateX(-100%);
        transition: transform .3s ease-in;
        height:100vh;
        width:100vw;
        @include min(480px){
            right:-30px;
        }
        @include min(576px){
            right:-15px;
        }
        @include min(768px){
            height:0px;
            transform: translateX(0%);
            width:100%;
            height:100%;
            z-index:0;
            position: static;
        }
    }
    &__menu.open{
        transform: translateX(0%);
    }
    &__menu--container{
        display: flex;
        flex-direction: column;
        padding-left:25px;
        @include min(768px){
          padding-left:0px;
          flex-direction: row;
          align-items:center;
        }
        @include min(992px){
            justify-content: space-between;
        }
        @include min(1600px){
            justify-content: initial;
        }
        @include min(1920px){
            justify-content: space-around;
        }
    }
    &__nav--menu{
        display: flex;
    }
    &__nav--list{
        list-style: none;
        display: flex;
        flex-direction: column;
        @include min(768px){
            display: flex;
            flex-direction: row;
            gap: 50px;
        }
    }
    &__nav--item{
        margin-top:32px;
        position: relative;
        @include min(768px){
            margin-top:0px;
        }
    }
    &__nav--item.active a{
        color:$accentColor;
    }
    &__nav--item::after{
        @include min(768px){
            content: "";
            position: absolute;
            bottom: -33px;
            margin-bottom:0px;
            border-radius:2px;
            left:0;
            right:0;
            width:100%;
            z-index:2;
            height: 4px;
            background-color: $accentColor;
            opacity: 0;
            transition: opacity 0.3s;
        }
        @include min(996px){
            bottom:-33px;
        }
        @include min(1440px){
            bottom: -31.3px;
        }
    }
    &__nav--item:hover::after{
        @include min(768px){
            opacity: 1;
        }
    }
    &__nav--item:first-child{
        margin-top:48px;
        @include min(768px){
            margin-top:0px;
            margin-left:0px;
        }
    }
    &__nav--link{
        text-decoration: none;
        font-weight:500;
        letter-spacing: 0.8px;
        color:$black;
        transition: color .3s ease-out;
        font-size: 36px;
        @include min(480px){
           font-size:40px;
        }
        @include min(768px){
            font-size:14px;
            letter-spacing:0.28px;
            min-width:80px;
        }
        @include min(1200px){
            font-size:16px;
        }
    }
    &__nav--link:hover{
        color:$accentColor;
    }
    &__menu--contacts{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-top:306px;
        @include min(768px){
            flex-direction:column-reverse;
            margin-left:72px;
            margin-top:0px;
        }
        @include min(1200px){
            flex-direction: row-reverse;
            align-items:center;
            margin-left:193px;
        }
        @include min(1600px){
            margin-left:280px;
        }
    }
    &__menu--tel{
        font-weight:500;
        text-decoration:none;
        color:$black;
        letter-spacing: 0.68px;
        font-size: 28px;    
        @include min(480px){
            font-size:34px;
        }
        @include min(768px){
            font-size:12px;
            color:$grey;
            letter-spacing: 0.24px;
        }
        @include min(992px){
            font-size:14px;
        }
    }
    // &__menu--tel:hover{
    //     color:$accentColor;
    // }
    &__menu--contacts-item{
        cursor: pointer;
        @include min(768px){
            display: flex;
            align-items:center;
        }
        @include min(1200px){
            margin-left:40px;
        }
        svg{
            display: none;
            @include min(768px){
                display: inline-block;
            }
        }
        .smartphone{
            margin-right:8px;
            width: 16px;
            height: 16px;
            fill:#757575;
            @include min(1920px){
                width:18px;
                height:18px;
            }
        }
        .envelope{
            margin-right:8px;
            width: 16px;
            height: 16px;
            fill:#757575;
            @include min(1920px){
                width:18px;
                height:18px;
            }
        }
    }
    &__menu--contacts-item:hover{
        .header__menu--tel, .header__menu--email{
            color:$accentColor;
        }
        svg{
            fill:$accentColor;
        }
    }
    &__menu--contacts-item:first-child{
        @include min(768px){
            margin-top:10px;
        }
        @include min(1200px){
            margin-top:0px;
        }
    }
    &__menu--contacts-item:last-child{
        margin-top:32px;
        @include min(768px){
            margin-top:0px;
        }
        @include min(1200px){
            margin-top:0px;
            margin-left:0px;
        }
    }
    &__menu--email{
        font-weight:500;
        text-decoration:none;
        color:$grey;
        letter-spacing: 0.48px;
        font-size: 22px;  
        @include min(480px){
            font-size:24px;
        }
        @include min(768px){
            font-size:12px;
            color:$grey;
            letter-spacing: 0.24px;
        }  
        @include min(992px){
            font-size:14px;
        }
    }
    // &__menu--email:hover{
    //     color:$accentColor;
    // }
    &__menu--socials{
        display: flex;
        margin-top:170px;
        @include min(768px){
            display: none;
        }
    }
    &__socials--list{
        display: flex;
        position: relative;
        list-style: none;
    }
    &__socials--item{
        margin-left:10px;
    }
    &__socials--item:first-child{
        margin-left:0;
    }
    &__socials--item::after{
        content: '';
        position: absolute;
        left:77px;
        bottom:0;
        width:1px;
        height:20px;
        background: rgba(57, 57, 57, 0.2);
        @include min(480px){
            left:86px;
        }
        @include min(576px){
            left:94px;
        } 
    }
    &__socials--item::before{
        content: '';
        position: absolute;
        left:137px;
        bottom:0;
        width:1px;
        height:20px;
        background: rgba(57, 57, 57, 0.2);
        @include min(480px){
            left:152px;
        }
        @include min(576px){
            left:167px;
        } 
    }
    .item-line::after{
        content: '';
        position: absolute;
        left:217px;
        bottom:0;
        width:1px;
        height:20px;
        background: rgba(39, 39, 39, 0.550);
        @include min(480px){
            left:241px;
        }
        @include min(576px){
            left:265px;
        } 
    }
    &__socials--link{
        color:$accentColor;
        text-decoration: none;
        font-weight:500;
        font-size: 16px;
        @include min(480px){
            font-size:18px;
        }
        @include min(576px){
            font-size:20px;
        }  
    }
    &__modal{
        position: absolute;
        top:50%;
        left:50%;
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -50%);
        z-index:1001;
        border-radius: 4px;
        background: #FFF;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        width:280px;
        height:610px;
        padding:15px;
        transition: all 0.3s ease-out;
        @include min(425px){
            width:340px;
        }
        @include min(576px){
            width:480px;
        }
        @include min(1440px){
            width:528px;
        }
    }
    // &__modal::after{
    //     content: "";
    //     position: absolute;
    //     top:0;
    //     left:0;
    //     width:100%;
    //     height:100%;
    //     background: rgba(51, 51, 51, 0.6) url('/images/loading-gif.gif') center / 50px no-repeat;
    //     opacity: 0;
    //     visibility: hidden;
    //     transition: all 0.5s ease-in;
    // }
    // &__modal._sending::after{
    //     opacity:1;
    //     visibility: visible;
    // }
    &__modal.active{
        opacity: 1;
        visibility: visible;
    }
    &__modal--inner{
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }
    &__modal--form{
        display: flex;
        flex-direction: column;
        position: relative;
        svg{
            width:18px;
            height:18px;
            position: absolute;
            top:11px;
            left:8px;
        }
        div{
            position: relative;
        }
    }
    &__modal--form input{
        width:240px;
        height:40px;
        border-radius:4px;
        margin-bottom:15px;
        color:$grey;
        font-size:14px;
        padding-left:30px;
        letter-spacing:0.14px;
        font-weight:400;
        border: 1px solid rgba(33, 33, 33, 0.20);
        @include min(425px){
            width:315px;
        }
        @include min(576px){
            width:450px;
        }

    }
    &__modal--form input._error{
        box-shadow: 0 0 10px rgb(240, 99, 99);
    }
    &__modal--form input:focus{
        outline:1px solid $accentColor;
    }
    &__modal--form input[type="checkbox"]{
        width:16px;
        height:15px;
        margin-bottom:0px;
        outline: none;
    }
    &__modal--form input[type="number"]::-webkit-inner-spin-button, 
    &__modal--form input[type="number"]::-webkit-outer-spin-button
    {
        -webkit-appearance: none;
        margin: 0;
    }
    &__textarea--commentary{
        width:240px;
        height: 120px;
        border-radius:4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
        resize: none;
        color:$grey;
        font-size:14px;
        letter-spacing:0.14px;
        padding-left:10px;
        padding-top:5px;
        font-weight:400;
        @include min(425px){
            width:315px;
        }
        @include min(576px){
            width:450px;
        }
    }
    &__textarea--commentary:focus{
        outline:1px solid $accentColor;
    }
    &__modal--title{
        width:fit-content;
        margin-bottom:12px;
        text-align: center;
        font-size:20px;
        color:$black;
        font-weight:700;
        line-height:30px;
        letter-spacing:0.6px;
        @include min(576px){
            font-size:22px;
        }
        @include min(1440px){
            padding-top:10px;
        }
    }
    &__form--span{
        font-size:12px;
        color:$grey;
        font-weight:500;
        margin-bottom:4px;
        letter-spacing:0.12px;
        @include min(576px){
            font-size:14px;
        }
    }
    &__span--checkbox{
        color:$grey;
        font-size: 12px;
        font-weight: 400;
        margin-left:10px;
        letter-spacing: 0.36px;
        @include min(576px){
            font-size:14px;
        }
    }
    &__form--checkbox{
        display: flex;
        align-items:center;
        margin-top:20px;
    }
    &__link--checkbox{
        text-decoration: underline;
        color:$accentColor;
    }
    &__form--btnSubmit{
        width: fit-content;
        padding:0px 25px 0px 25px;
        height: 35px;
        background:$accentColor;
        color:#FFF;
        font-weight:700;
        font-size:16px;
        border:none;
        text-align: center;
        margin:30px auto;
        cursor: pointer;
        letter-spacing: 0.96px;
        border-radius:4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: all .3s ease-in;
        @include min(576px){
            height:40px;
            padding:0px 35px 0px 35px;
        }
        @include min(1200px){
            height:45px;
            padding:0px 52px 0px 52px;
        }
        @include min(1440px){
            height:50px;
        }
    }
    &__form--btnSubmit:hover{
        transform: scale(110%);
    }
    &__modal--close{
        position: absolute;
        right:0;
        bottom:5px;
        z-index:1001;
        height:2px;
        width:20px;
        background-color:transparent;
        &::after{
            content: "";
            border-radius:1px;
            position:absolute;
            right:0;
            top:7px;
            height:2px;
            width:20px;
            background-color:transparent;
            transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
        }
        &::before{
            content: "";
            border-radius:1px;
            position:absolute;
            right:0;
            top:14px;
            height:2px;
            width:20px;
            background-color:transparent;
            transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
        }
    }
    &__btn--closeModal{
        position:relative;
        border:none;
        background:transparent;
        cursor:pointer;
    }
    &__btn--elipse{
        position: absolute;
        top:-21px;
        left:224px;
        border:1px solid $grey;
        border-radius:50%;
        width:30px;
        height:30px;
        @include min(425px){
            left:285px;
        }
        @include min(576px){
            left:429px;
        }
        @include min(1440px){
            left:473px;
        }
    }
    &__btn--elipse:hover{
        border-color:$accentColor;
    }
    &__btn--closeModal &__modal--close{
        background-color:transparent !important;
        cursor: pointer;
        transition-delay:.15s;
    }
    &__btn--closeModal &__modal--close::after{
        background-color:$black;
        top:-10px;
        left:250px;
        width:18px;
        transform: translate3d(0, 10px, 0) rotate(-45deg);
        transition: top .2s cubic-bezier(.33333,0,.66667,.33333), transform .13s cubic-bezier(.215,.61,.355,1) .22s;
        @include min(425px){
            left:311px;
        }
        @include min(576px){
            left:455px;
        }
        @include min(1440px){
            left:499px
        }
    }
    &__btn--closeModal &__modal--close::before{
        background-color:$black;
        top:-10px;
        left:250px;
        width:18px;
        transform: translate3d(0, 10px, 0) rotate(45deg);
        transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .1s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
        @include min(425px){
            left:311px;
        }
        @include min(576px){
            left:455px;
        }
        @include min(1440px){
            left:499px
        }
    }
    &__btn--closeModal:hover &__modal--close::after{
        background-color:$accentColor;
    }
    &__btn--closeModal:hover &__modal--close::before{
        background-color:$accentColor;
    }
}
