.projects{
    margin-top:40px;
    &__inner{
        display: flex;
        flex-direction: column;
    }
    &__img--container{
        position: relative;
    }
    &__overlay{
        width:100%;
        height:264px;
        background:$accentColor;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items:center;
        top:0;
        left:0;
        opacity:0;
        visibility: hidden;
        z-index:-1;
        transition: all .3s ease-in;
        @include min(425px){
            width:400px;
            height:294px;
        }
        @include min(480px){
            width:450px;
            height:294px;
        }
        @include min(576px){
            width:500px;
            height:356px;
        }
        @include min(768px){
            width: 334px;
            height: 294px;
        }
        @include min(992px){
            width:370px;
            height:400px;
        }
        @include min(1200px){
            width:334px;
            height: 294px;
        }
        @include min(1600px){
            width:355px;
            height:334px;
        }
    }
    &__overlay--text{
        color: #FFF;
        font-size: 14px;
        width:260px;
        line-height: 28px;
        letter-spacing: 0.54px;
        padding-left:24px;
        padding-right:24px;
        font-weight: 400;
        @include min(425px){
            width:360px;
        }
        @include min(480px){
            width:450px;
        }
        @include min(576px){
            width:460px;
        }
        @include min(768px){
            font-size:16px;
        }
        @include min(992px){
            font-size:18px;
        }
    }
    &__ul--list{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        @include min(768px){
            flex-direction: row;
            justify-content: baseline;
            align-items:baseline;
            flex-wrap: wrap;
        }
    }
    &__li--item{
        margin-top:30px;
        width:fit-content;
        border: 1px solid #EEE;
        background: #FFF;
        @include min(768px){
            margin-left:30px;
            height:405px;
        }
        @include min(992px){
            height:515px;
        }
        @include min(1200px){
            height:405px;
        }
        @include min(1600px){
            height:445px;
        }
        img{
            width:300px;
            height:264px;
            @include min(425px){
                width:400px;
                height:294px;
            }
            @include min(480px){
                width:450px;
                height:294px;
            }
            @include min(576px){
                width:500px;
                height:356px;
            }
            @include min(768px){
                width: 320px;
                height: 294px;
            }
            @include min(992px){
                width:370px;
                height:400px;
            }
            @include min(1200px){
                width:334px;
                height: 294px;
            }
            @include min(1600px){
                width:355px;
                height:334px;
            }
        }
    }
    &__img--container:hover{
        .projects__overlay{
            opacity: 0.8;
            z-index:1;
            visibility: visible;
        }
    }
    .no-left-margin{
        margin-left:0px !important;
    }
    &__li--item:nth-child(odd){
        @include min(1200px){
            margin-left:30px;
        }
    }
    &__li--item:first-child{
        margin-top:0px;
    }
    &__li--item.filtered{
        display: none;
    }
    &__about--container{
        display: flex;
        flex-direction: column;
        padding-left:24px;
        padding-bottom:20px;
        justify-content: center;
        max-width:320px;
        @include min(480px){
            max-width: 450px;
        }
    }
    &__title{
        color:$black;
        font-weight: 700;
        margin-top:20px;
        font-size: 18px;
        letter-spacing:1.08px;
        @include min(768px){
            line-height: 24px;
        }
    }
    &__type{
        color:$grey;
        font-weight: 400;
        margin-top:10px;
        font-size: 16px;
        letter-spacing:0.48px;
    }
}