.specialization{
    // padding-top:94px;
    margin-top:94px;
    display: none;
    @include min(1200px){
        display: flex;                            
    }
    &__title{
        text-align: center;
        font-family:'Roboto', sans-serif;
        color:$black;
        font-size:36px;
        font-weight:700;
        letter-spacing:1.08px;
        margin-bottom:50px;
    }
    &__ul--list{
        display: flex;
        justify-content: center;
        align-items:center;
        flex-wrap: wrap;
        list-style: none;
    }
    &__li--item{
        position: relative;
        margin-left:30px;
        @include min(1920px){
            margin-left:35px;
        }
    }
    .no-left-margin{
        margin-left:0px !important;
    }
    &__li--item:nth-child(odd){
        @include min(768px){
            margin-left:0px;
        }
        @include min(1200px){
            margin-left:30px;
        }
    }
    &__titleImg--container{
        position: absolute;
        width:360px;
        height:70px;
        display: flex;
        justify-content: center;
        align-items:center;
        bottom:0;
        left:0;
        text-align: center;
        background: rgba(47, 48, 58, 0.90);
        @include min(1440px){
            width:400px;
        }
        @include min(1600px){
            width:370px;
        }
        @include min(1920px){
            width:510px;
        }
    }
    &__title--img{
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }           
    &__img--container{
        img{
            @include min(1200px){
                width:360px;
            }
            @include min(1440px){
                width:400px;
            }
            @include min(1600px){
                width:370px;
            }
            @include min(1920px){
                width:510px;
            }
        }
    } 

}       