.team{
    // padding-top:60px;
    background:#F5F4FA;
    margin-top:60px;
    @include min(1200px){
        // padding-top:94px;
        margin-top:94px;
    }
    &__title{
        text-align: center;
        padding-top:60px;
        color:$black;
        font-size:28px;
        font-weight:700;
        @include min(1200px){
            font-size:36px;
        }
    }
    &__cards--container{
        display: flex;
        justify-content: center;
        align-items:center;
        text-align: center;
        padding-bottom:60px;
        // @include min(768px){
        //     padding-bottom:40px;
        // }
        // @include min(992px){
        //     padding-bottom:60px;
        // }
    }
    &__cards--list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        list-style: none;
        @include min(768px){
            flex-direction: row;
            flex-wrap:wrap;
        }
    }
    &__cards--item{
        border-radius: 0px 0px 4px 4px;
        background: #FFF;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        display: flex;
        width:280px;
        margin-top:30px;
        height:100%;
        flex-direction: column;
        @include min(425px){
            width:380px;
        }
        @include min(480px){
            width:450px;
        }
        @include min(576px){
            width:510px;
        }
        @include min(768px){
            width:339px;
            margin-left:30px;
        }
        @include min(992px){
            width:404px;
        }
        @include min(1200px){
            width:262px;
        }
        @include min(1440px){
            width:295px;
        }
        @include min(1600px){
            width:270px;
        }
        @include min(1920px){
            width:380px;
        }
    }
    .no-left-margin{
        margin-left:0px !important;
    }
    &__cards--item:nth-child(odd){
        @include min(768px){
            margin-left:0px;
        }
        @include min(1200px){
            margin-left:30px;
        }
    }
    &__img{
        width:100%;
        height:100%;
    }
    &__card--content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px auto 24px auto;
        max-width: 280px;
        align-items:center;
    }
    &__card--name{
        color:$black;
        letter-spacing: 0.48px;
        font-size: 16px;
        font-style: normal;
        margin-bottom:10px;
        max-width: inherit;
        font-weight: 500;
    }
    &__card--position{
        color:$grey;
        letter-spacing: 0.48px;
        font-size: 16px;
        font-style: normal;
        max-width: inherit;
        font-weight:400;
    }
    &__circle{
        position: absolute;
        width:44px;
        height:44px;
        display: flex;
        justify-content:center;
        align-items:center;
        background:#FFF;
        border-radius:50%;
        transition:all .3s ease-in;
    }
    &__circle:hover{
        background:$accentColor;
        svg{
            fill:#FFF;
        }
    }
    &__social--link{
        display: flex;
        width:44px;
        height:44px;
        background:#FFF;
        justify-content: center;
        margin-left:10px;
        align-items:center;
    }
    &__social--link:first-child{
        margin-left:0px;
    }
    &__card--socials{
        position: relative;
        display: flex;
        justify-content: center;
        margin-top:16px;
        align-items:center;
        svg{
            position: relative;
            width:20px;
            height:20px;
            fill:#afb1b8;
            transition: all .3s ease-in;
        }
    }
}